html,
body {
    height: 100%;
    font-family: 'Assistant', sans-serif;
}

.carousel {
    height: 100%;
    background-color: #131927 !important;
}

.hukum {
    height: 100%;
    background-color: #131927 !important;
}

.btn-us:hover {
    background: linear-gradient(to right, #f7797d, #FBD786, rgb(34, 224, 110));
}

.about {
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6b6b6, #ffffff, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C9D6FF, #ffffff, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.portfolio {
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6b6b6, #ffffff, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C9D6FF, #ffffff, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.list-group-item {
    background-color: transparent;
}

.list-group-item-action:hover {
    background-color: rgba(135, 186, 233, 0.1) !important;
}

.fixed-top.scrolled {
    background-color: #131927 !important;
    transition: background-color 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-me {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 9;
}


.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width .2s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width .2s;
}

.about {
    margin-top: -10px;
}

.section {
    min-height: 800px;
}

.skills {
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact {
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group a.list-group-item {
    border: none !important;
}

img.profil {
    width: 20%;
}



/* =========================================== */
@media only screen and (max-width: 786px) {
    .title-me {
        width: 730px;
    }

    .title-me h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .title-me h1.labell {
        font-size: 22px;
    }

    .title-me h5 {
        font-size: 18px;
    }

    .portfolio-item {
        margin-bottom: 30px;
    }

    img.profil {
        width: 50% !important;
    }

    p.lead {
        font-size: 16px;
        text-align: justify;
    }

    .social-box a.h2 {
        margin: 0 !important;
        font-size: 26px;
    }

    .skills h5.d-block {
        font-size: 13px !important;
    }

    .skills .row .progress {
        height: 10px !important;
    }

    .skills .row .progress .progress-bar {
        font-size: 10px;
        line-height: 22px;
    }
}



/* ========================================== */

@media only screen and (max-width: 375px) {
    .title-me {
        width: 300px;
    }

    .title-me h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .title-me h1.labell {
        font-size: 12px;
    }

    .title-me h5 {
        font-size: 10px;
    }

    .portfolio-item {
        margin-bottom: 30px;
    }

    img.profil {
        width: 50% !important;
    }

    p.lead {
        font-size: 16px;
        text-align: justify;
    }

    .social-box a.h2 {
        margin: 0 !important;
        font-size: 26px;
    }

    .skills h5.d-block {
        font-size: 13px !important;
    }

    .skills .row .progress {
        height: 10px !important;
    }

    .skills .row .progress .progress-bar {
        font-size: 10px;
        line-height: 22px;
    }

    .modal-body .row {
        height: 400px !important;
    }

    .modal-body .row .col-lg-4 span.badge {
        padding: 3px 5px !important;
    }

    .modal-body .row .col-lg-8 .carousel {
        height: 200px !important;
    }

    .modal-body .row .col-lg-8 .carousel .carousel-inner {
        height: 200px !important;
    }
}