html,
body {
    height: 100%;
    font-family: 'Assistant', sans-serif;
    background-color: black;
}

.carousel {
    height: 100%;
}

.title-me {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -240%);
    z-index: 9;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width .2s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width .2s;
}

.about,
.jumbotron {
    bbackground: rgb(32, 32, 32);
    background: radial-gradient(circle, rgba(32, 32, 32, 1) 0%, rgba(0, 0, 0, 1) 100%);
}